#view-drd {
    background-image: url(/views/drd.png);
}

#view-dt-season {
    background-image: url(/views/dt_season.png);
    visibility: hidden;
}

#view-dt-holiday {
    background-image: url(/views/dt_holiday.png);
    visibility: hidden;
}

.view {
    position: fixed;
    width: 1200px;
    height: 740px;
    background-size: contain;
    background-repeat: no-repeat;
}

.interaction-box {
    position: fixed;
}

.interaction-box:hover {
    cursor: pointer;
}