body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

#view-drd {
  background-image: url(/views/drd.png);
}

#view-dt-season {
  background-image: url(/views/dt_season.png);
  visibility: hidden;
}

#view-dt-holiday {
  background-image: url(/views/dt_holiday.png);
  visibility: hidden;
}

#view-dt-holiday-wrong {
  background-image: url(/views/dt_holiday_wrongtype.png);
  visibility: hidden;
}

#view-drd-relations {
  background-image: url(/views/drd_relations.png);
  visibility: hidden;
}

#view-drd-relations-correct-type {
  background-image: url(/views/drd_relations_correct_type.png);
  visibility: hidden;
}

#view-drd-relations-correct-variable {
    background-image: url(/views/drd_relations_correct_variable.png);
    visibility: hidden;
  }

#view-drd-relations-new {
  background-image: url(/views/drd_relations_new.png);
  visibility: hidden;
}

.view {
  position: fixed;
  width: 1440px;
  height: 1080px;
  background-size: contain;
  background-repeat: no-repeat;
}

.interaction-box {
  position: fixed;
}

.interaction-box:hover {
  cursor: pointer;
}

.see-relations {
  visibility: hidden;
  position: fixed;
  width: 100px;
  height: 25px;
  background: #52b414;
  color: whitesmoke;
  left: 686px;
  top: 400px;
  border-radius: 5px;
  font-size: 100%;
}

.see-relations:hover {
  cursor: pointer;
}

.connection-outline-permanent {
  visibility: hidden;
  position: fixed;
  border-style: dashed;
  border-width: thin;
}

.connection,
.connection-outline-permanent {
  width: 15px;
  height: 150px;
  left: 640px;
  top: 315px;
  transform: rotate(31deg);
  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -o-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
}

.connection:hover {
  border-style: dashed;
  border-width: thin;
}

.inputs {
  visibility: hidden;
  position: fixed;
  font-size: smaller;
  left: 709px;
  top: 319px;
}

.inputs > span {
  padding-left: 5px;
}

.outputs {
  visibility: hidden;
  position: fixed;
  font-size: smaller;
  left: 495px;
  top: 425px;
}

.outputs > span {
  padding-left: 5px;
}
